body {
    background-color: #333;
    color: #fff;
}

.App {
    text-align: center;
}

.taskBg {
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskNumber {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 8px;
    text-align: center;
}


.taskBg .taskText {
    flex: 1;
}

.taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
}

.iconWrap {
    position: absolute;
    top: 50%;
    right: 15px;
    width: auto;
    display: inline-block;
    transform: translateY(-50%);
}

.iconWrap span {
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    color: #00ff89;
}

.iconWrap span:hover {
    color: yellow;
    transition: 0.3s;
}

.col-10 input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 20px;
    outline: none;
    border: none;
}
.col-2 button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #00ff88;
    opacity: 0.9;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
}

.col-2 button:hover {
    opacity: 0.8;
}

.col-8 input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 20px;
    outline: none;
    border: none;
}

.text {
    opacity: 0;
    
}

.update{
    z-index: 999;
    transform: translateY(4.2rem);
}

.active {
    opacity: 1;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}

@media screen and (max-width: 991px) {
    .update {
        transform: translateY(4rem);
    }
    .col-2 button {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .update {
        transform: translateY(4.1rem);
    }
    .col-2 button {
        font-size: 10px;
        padding: 15px 0px;
    }
}

@media screen and (max-width: 516px) {
    .update {
        transform: translateY(4.2rem);
    }
    .input .col-2 button {
        font-size: 13px;
        padding: 12px 0px;
    }
}

@media screen and (max-width: 465px) {
    .update {
        transform: translateY(4.1rem);
    }
    .update .col-2 button {
        font-size: 9px;
        padding: 16px 0px;
    }
    .input .col-2 button {
        font-size: 13px;
        padding: 12px 0px;
    }
}

@media screen and (max-width: 450px) {
    .input .col-2 button {
        font-size: 9px;
        padding: 15px 0px;
    }
}

@media screen and (max-width: 375px) {
    .update {
        transform: translateY(4.3rem);
    }
    .update .col-2 button {
        font-size: 11px;
    }
    .input .col-2 button {
        font-size: 9px;
        padding: 15px 0px;
    }
}